# Dev environment + ide
__pycache__
.vscode

# Environment
wxpython

# dev help
examples
toydata

# Build files
build 
dist
*.egg-info

# Organizational files
features.txt
schedule.txt
tools.txt
treespec*