# Dev environment + ide
__pycache__
.vscode

# Environment
kivy_env

# dev help
examples
toydata
dev_notebooks

# Build files
build 
dist
*.egg-info

# Organizational files
features.txt
schedule.txt
tools.txt
treespec*