altgraph==0.17
asyncio==3.4.3
certifi==2020.6.20
chardet==3.0.4
docutils==0.16
future==0.18.2
idna==2.9
Kivy==1.11.1
kivy-deps.glew==0.2.0
kivy-deps.sdl2==0.2.0
Kivy-examples==1.11.1
Kivy-Garden==0.1.4
kivy-garden.contextmenu==0.1.0.dev1
kivy-garden.graph==0.4.0
numpy==1.19.0
pandas==1.0.5
pefile==2019.4.18
pubsub==0.1.2
Pygments==2.6.1
PyInstaller==3.6
pypiwin32==223
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
pywin32-ctypes==0.2.0
requests==2.24.0
scipy==1.5.0
six==1.15.0
urllib3==1.25.9
